@charset "UTF-8";

@font-face {
  font-family: "iconosdulceria";
  src:url("..//fonts/iconosdulceria.eot");
  src:url("..//fonts/iconosdulceria.eot?#iefix") format("embedded-opentype"),
    url("..//fonts/iconosdulceria.woff") format("woff"),
    url("..//fonts/iconosdulceria.ttf") format("truetype"),
    url("..//fonts/iconosdulceria.svg#iconosdulceria") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iconosdulceria" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "iconosdulceria" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-ubication:before {
  content: "\62";
}
.icon-phone:before {
  content: "\63";
}
.icon-whatsapp:before {
  content: "\64";
}
.icon-home:before {
  content: "\65";
}
.icon-instagram:before {
  content: "\66";
}
.icon-web:before {
  content: "\69";
}
.icon-messaje:before {
  content: "\68";
}
.icon-loading:before {
  content: "\67";
}
.icon-arrow-left:before {
  content: "\6a";
}
.icon-delete:before {
  content: "\6b";
}
.icon-edit:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
